.disfruta{
    font-family: Roboto, sants-serif;
    text-align: center;
    color: #292931;    
}
.nose{
    font-family: Roboto, sants-serif;
    text-align: center;
    color: red;
}
.Mac{
    font-family: Roboto, sants-serif;
    text-align: center;
    color: #292931;
}
.ultra{
    font-family: Roboto, sants-serif;
    text-align: center;
    color: #292931;    
}
.desde{
    font-family: Roboto, sants-serif;
    text-align: center;
    color: #292931;    
}
#main-container{
    text-align: center;
}

.boton{
    border-radius: 20px;
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-family: roboto, sants-serif;
}
.boton_1{
    color: white;
    background-color: #0071E3;
}
.boton_1:hover{
    background-color: #0077ed;
}
.boton_1:active{
    background-color: #0071E3;
} 
.mas {
    font-family: roboto, sants-serif;
    color: #0071E3;
    text-align: center;
}

.contenedor-columnas{
    width: 100%;
    text-align: center;
    margin: auto;
  }

.columnasx2{
font-family: Roboto, sants-serif;
text-align: center;
width: 40%;
background-color: rgb(242, 242, 242);;
display: inline-block;
padding: 20px 20px;
padding-top: 0%;
box-sizing: border-box;
}

.columnasx2 h4{
    text-align:top
}

#contenedor-1imangen {
    text-align: center;
    padding-top: 0px;
}

.box1 {
	width: 300px;
    height: 100px;
    background-color: red;
}


.box {
	width: 100px;
    height: 100px;
    display: inline-block;
}

.red-background {
	background-color: red;
}

.blue-background {
	background-color: blue;
}

.green-background {
	background-color: green;
}

.box2 {
    margin: auto;
    margin-left: 40px;
    margin-right: auto;
    width: 40%;
	height: 200px;
    background-color: cornflowerblue;
    display: inline-block;
}
